<section class="half-panel">
    <div class="row">
        <div class="col-6 col-md-6">
            <div class="half-content">
                <h2>{{half-title}}</h2>
                <p>{{half-text}}</p>
            </div>
        </div>
        <div class="col-6 col-md-6">
            <img src="https://picsum.photos/id/{{half-img}}/600/400" alt="Half Panel" class="fit-image rounded" />
        </div>
    </div>
</section>