<header class="nav-bar">
    <div class="logo"><h1>MPA</h1></div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>