.testimonials-section {
    .testimonial-card {
        background-color: @content-primary-background;
        color: @content-primary-text;
        margin-bottom: 1rem;
        figcaption {
            blockquote {
                font-style: italic;
                margin: 0 0 0.5rem 0;
            }
            cite {
                font-weight: bold;
                display: block;
                text-align: right;
            }
        }
    }
}